{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "fly"
  ],
  "rules": {
    "fly/no-use-img": "error"
  }
}
